{% extends 'base.html' %}

{% block title%} About me
{% endblock%}


{% block content%}

<h3  style="color: black; background-color: beige;">Bienvenido al about me </h3>

    <p style="color: black;background-color: beige;">
        Chime is a financial technology company founded on the premise that basic banking services should be helpful, easy and free. We want to profit with our members, not from them. That’s why our model doesn’t rely on overdraft fees, monthly service fees, service fees, minimum balance requirements, and more.

We partner with regional banks to design member first financial products. This creates a more competitive market with better, lower-cost options for everyday Americans who aren’t being served well by traditional banks. We help drive innovation, inclusion, and access across the industry.

    </p>

{% endblock%}
