{% extends 'base.html' %}

{% block title%} About me
{% endblock%}


{% block content%}

<h3  style="color: black; background-color: beige;">Bienvenido al about me </h3>

<div id="redes">
    <a href="https://www.instagram.com/gasty9/" target="_blank"><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="Instagram" width="50px" height="auto"></a>
    <a href="https://www.linkedin.com/in/gast%C3%B3n-daniel-diaz-26bab5251/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
            alt="linkedin" width="50px" height="auto"></a>
</div>

    <p style="color: black;background-color: beige;">
        Esta pagina nace para un proyecto final de un curso de Python, dictado por CODERHOUSE, para enseñarnos a programar a traves de este basto lenguaje y tambien a traves de sus librerias y frameworks como Django. Con las clases, hemos aprendido las bases de esta tecnologia y sumada con un poco de front-end, utilizando HTML la pude personalizar como queria, aplicando todos los conocimientos adquiridos a los largo de las clases, brindadas por el profesor, por los tutores e informacion que pude recolectar de muchas paginas

Tras varias semanas de trabajo, le di la finalidad para que muestre peliculas, estudios de grabacion y directores que hubiera cargado y a la vez, tenga la posibilidad de que el visitante de la pagina pueda cargar sus peliculas, estudios y directores favoritos, completando un formulario basico para tener la minima informacion necesaria dentro de la misma.

<img src="https://i.pinimg.com/originals/de/ff/61/deff610e856a77837f29d310708140c3.jpg" width="300" height="300" class="card-img-top" alt="peliculas">
    </p>

{% endblock%}
