{% extends 'base.html' %}

{% block title%} Crear director
{% endblock%}


{% block content%}

<h1 style="color: black;background-color: beige;"> Bienvenido a crear director</h1>

    {% if form %}

        <form action="" method="POST" enctype="multipart/form-data" style="color: black;background-color: beige;">

            {% csrf_token %}

            <table>
                
                {{form.as_table}}

            </table>
                        
            <input type="submit" value="Crear director">
        </form>
            
    {%endif%}
    
    {% if form_errors %}
        <h2 style="color: red;background-color: beige;">Error:</h2>
        {{form_errors}}
    {%endif%}


    {%if message %}
        <h2 style="color: green;background-color: beige;" >{{message}}</h2>
        {%endif%}
{% endblock%}
