{% extends 'base.html' %}

{% block title%} Inicio
{% endblock%}
{% block content%}
<img src="/media/{{window.picture}}" style="position:absolute; margin-top: 15%; margin-left: 18%;" alt="index_picture" width="65%" height="65%" >
<h1 style="position: absolute; top: 100px; font-weight: bold; color: black;background-color: beige;"> {{window.tittle}}</h1>
    
<h4  style="position: absolute; top: 150px;font-weight: bold; color: black; background-color: beige;">{{window.text}}
</h4>>

{% endblock%}
