{% extends 'base.html' %}

{% block title%} Listado peliculas
{% endblock%}


{% block content%}

    

    <h1>Listado de peliculas</h1>
    <h2>Agregar nueva pelicula</h2> <a href="/movies/create-movies/" class="btn btn-primary">Agregar!</a>

    <div style="display: flex;flex-direction: row;margin:10px">
        {% for movie in movies %}

        <div class="card" style="width: 18rem;flex: 1;margin:2px">
            <img src="/media/{{movie.picture}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{movie.name}}</h5>
            <p class="card-text">La pelicula es del genero: {{movie.type}}</p>
            Tiene una duracion en hs de: {{movie.duration}}
            Estrenada el dia: {{movie.date}}
            <a href="https://miradetodo.de/?s={{movie.name}}" target="_blank" class="btn btn-primary">Ver ahora!</a>
            </div>
        </div>

    
            
        {% endfor %}
    </div>
    

    

{% endblock%}
