{% extends 'base.html' %}

{% block title%} Listado de Estudios
{% endblock%}


{% block content%}

    

    <h1>Listado de Estudios</h1>
    <h2>Agregar nuevo estudio</h2> <a href="/movies/create-studio/" class="btn btn-primary">Agregar!</a>


    {% for studio in studios %}

        <div class="card" style="width: 18rem;">
            <img src="/media/{{studio.image}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{studio.name}}</h5>
            <p class="card-text">{{studio.name}} tiene muchas peliculas grabadas, que son un exito!</p>
            Se fundo el: {{studio.creation}} y esta ubicada en {{studio.place}}. 
            
            <a href="https://www.google.com/search?q={{studio.name}}" target="_blank" class="btn btn-primary">Buscar detalles en la red</a>
            </div>
        </div>

    
        
    {% endfor %}

    {% block search%}/movies/list-studio/{% endblock%}


{% endblock%}
